@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin:0px;
    font-family: 'Indie Flower', cursive;
}

/* Navigation Bar */
.nav {
    background-color: #FFFFFF;
}
.nav ul {
    list-style-type: none;
}

/* Footer */
footer{
    background: #A08A7E;
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
  } 
  
  /* Home page */
