body {
    margin: 0px;
    font-family: 'Indie Flower', cursive;
}

/* Navigation Bar */
.nav {
    background-color: #F8C9D0;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #A08A7E;
}

a:hover {
    color: #000;
    font-weight: bold;
}

hr {
    margin: 20px;
}

/* Footer */
footer {
    background: #A08A7E;
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
}

/* Home page */