* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

/* Navigation Bar */
.nav {
    background-color: #F8C9D0;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: left;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

nav .logo img {
    height: 70px;
    max-width: auto;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #A08A7E;
}

a:hover {
    color: #000;
    font-weight: bold;
}

.active-page {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* Footer */
footer {
    background: #A08A7E;
    color: #000;
    font-size: 14px;
    padding: 40px 10px 10px;
}

footer .logo img {
    height: 150px;
    max-width: auto;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    display: flex;
    text-align: center;
}

.col-1,
.col-2,
.col-3 {
    flex: 33.33%;
    flex-direction: row;
}

footer ul {
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0;
}

footer a {
    color: #000;
}

footer hr {
    margin: 10px;
    border: 1.5px solid #b1c2fc;
}

footer p {
    text-align: right;
}

.footer p {
    text-align: center;
}

/* text */
h2 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #A08A7E;
    padding: 30px 0px;
}

/* Home page */
.main {
    text-align: center;
    margin: 40px;
}

/* inline elements */
.inline {
    display: inline-block;
    flex: auto;
    justify-items: auto;
    padding: 30px 50px;
}

.inline img {
    width: 200px;
    height: auto;
}

.inline h3 {
    color: #000;
}

.inline p {
    flex: 50%;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* box */
.box {
    margin: 150px 50px;
}

.box2 {
    margin: 10px 10px;
    flex: 50%;
}

/* Octopi image and text*/
.octopi {
    display: flex;
    flex-direction: row;

}

.octopi img {
    flex: 50%;
    width: 50%;
}

.octopi p {
    flex: 50%;
    font-size: larger;
}

/* Shop now button */
.octopi button {
    border: 0px;
    background-color: #b1c2fc;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px;
}

/* Hover */
button:hover {
    background-color: #A08A7E;
    transition: 0.5s;
}

/* Image hover transition */
img:not(.box img):hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

/* Back to top button */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 40px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #b1c2fc;
    color: #FFFF;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}

#myBtn:hover {
    background-color: #819bf1;
}

/* Responsive design for different device sizes */
@media (max-width: 800px) {
    .container {
        margin: 0px;
    }

    .octopi {
        flex-direction: column;
    }

    .octopi img {
        flex: 100%;
        width: auto;
    }

}